@import 'leaflet/dist/leaflet.css';
@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Leaflet class override.
 */
.leaflet-popup-content-wrapper {
  @apply rounded-2xl p-0;
}

.leaflet-popup-content {
  @apply m-0 flex !w-[350px] flex-col space-y-3 p-4 text-base leading-5;
}

.leaflet-popup-content p {
  @apply m-0;
}

.leaflet-container a {
  @apply text-current;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  @apply shadow;
}
